.m-0 {
  margin: 0 !important;
}

.mt-1 {
  margin-top: 1rem;
}

.card-morphism {
  border-radius: 20px;
  background: #e0e0e0ba;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  border: 1px solid #e0e0e0;
}

.info {
  color: papayawhip;
  margin-left: 3px;
  cursor: pointer;
}
